<div class="tempContainer col-md-10 col-md-offset-1">
    <!--headshot-->
    <div class="headshot col-md-4 col-md-offset-4">
        <img src="./files/head_shot.jpg">
    </div>
    <!--about me-->
    <div class="about col-md-12">

        <div class="typed">
            <h1>My name is Chris Adkins and I'm <span class="typing-title"></span>.</h1>
        </div>
        <div class="bio">
            <h2>
                If you're trying to find me take a look in the local coffee shop or book store. Chances are I've got my nose buried in my
                laptop or a new book. I love learning new things whether it be an new library or framework or yet another Harry Potter fan
                theory I'm always learning something. <span ui-sref="about">More about me...</span>
            </h2>
            <h3 class="portLink" ui-sref="portfolio">View My Portfolio</h3>
        </div>
    </div>
</div>