<div class="contact col-md-8 col-md-offset-2">
    <h1 class="col-md-12"><span>Contact Me</span></h1>
    <form class="col-md-12" action="https://formspree.io/adkins.chris1996@gmail.com" method="POST">
        <label class="col-md-12" for="name">Name:</label>
        <input class="col-md-12" type="text" name="name" >
        <label class="col-md-12" for="_replyto">Email:</label>
        <input class="col-md-12" type="email" name="_replyto">
        <label class="col-md-12" for="message">Message:</label>
        <textarea class="col-md-12" rows="" cols="" name="message"></textarea>
        <input class="col-md-2 col-md-offset-5" type="submit" value="Send">
    </form>
  </div>